body{
    background-color: blanchedalmond;
    background-image: url(bgimg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

};
.login{
    
    position: absolute;
    top: 50%;
}
h1{ 
    color: rgb(107, 160, 190);
    text-shadow: wheat 0.5px 0.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
}